* {
    text-align: center;
    vertical-align: middle;
}

header {
    font-size: 85px;
}

td {
    width: 140px;
    height: 140px;
    background-color: skyblue;
    font-size: 85px;
}

table {
    margin: 0 auto;
}

#reset_button {
    width: 130px;
    height: 40px;
    margin-top: 20px;
}