* {
    text-align: center;
    vertical-align: middle;
}

header, td {
    font-size: 85px;
}

td {
    width: 140px;
    height: 140px;
    background-color: skyblue;
}

table {
    margin: 0 auto;
}

button {
    width: 130px;
    height: 40px;
    margin-top: 20px;
}